.ct{
    margin-left: auto;
    margin-right: auto;
}
.cd{
    margin-left: 500px !important;
}
.ch{
    margin-right: 0px;
    width: 21% !important;
}
.cp{
    margin-left: 0px;
    font-weight: 600;
    font-size:large; 
    margin-top: 5px !important;
}